@page
@model Service_App.Pages.Service.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
 @if (User.IsInRole("Admin"))
{
    <p>
        <a asp-page="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Services[0].Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Services[0].Availability)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Services[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Services) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Availability)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> 
                    @if (User.IsInRole("Admin"))
                    {
                        <text> | <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> | <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a></text>

                    }
            </td>
        </tr>
}
    </tbody>
</table>
